.projectsContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.divProjectsSection{
    margin: 3rem 5rem;
    max-width: 1300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    h1{
        font-size: 2rem;
    }
}

.divProjects{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .divProjectsSection{
        margin: 3rem 2rem;
    }
}
