.botonOriginal {
    padding: 1rem;
    background-color: var(--rojo-claro);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 1rem;

    &:hover {
        box-shadow: 0px 0px 10px 3px var(--rojo-claro);
        transition: .2s ease-in-out;
    }

    .botonTexto {
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
    }
}

.bi-download {
    margin-right: 1rem;
}

.outLineButton {
    background-color: transparent;
    border: 2px solid var(--blanco);

    &:hover {
        box-shadow: none;
        background-color: var(--blanco);

        .botonTexto {
            color: var(--negro);
        }

        .bi-github {
            fill: var(--negro);
        }

        transition: .2s ease-in-out;
    }
}


@media screen and (max-width: 1150px) {
    .botonOriginal {
        padding: .8rem;

        .botonTexto {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 610px) {
    .botonOriginal {
        padding: .5rem;

        .botonTexto {
            font-size: .8rem;
        }
    }

    .bi-download {
        margin-right: .5rem;
    }
}