.link {
    text-decoration: none;
}

.imageProjectDetail {
    margin-top: 3rem;
    width: 100%;
    border-radius: 20px;
}

p {
    font-size: 1.2rem;
}

.volver {
    color: var(--rojo-claro);
    margin-bottom: 1rem;
    font-size: 1.2rem;

    .volverFlecha {
        color: var(--rojo-claro);
        font-weight: 900;
    }
}

.titleProjectDetail {
    margin-bottom: 3rem;
}

.pDataProject {
    margin-bottom: 1rem;

    span {
        padding: .3rem;
        background-color: var(--rojo-oscuro);
        color: var(--rojo-claro);
        margin-right: .5rem;
        border-radius: 5px;
    }
}

.subtitle {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.informationProjectContainer {
    width: 100%;
    display: flex;
    margin: 3rem 0;

    .dataProject {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 2rem;
        width: 50%;

        h3 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
    }

    .imgProject {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.imgDemo {
    width: 100%;
    border-radius: 20px;
}

.invertContent {
    flex-direction: row-reverse;
}

@media screen and (max-width: 1020px) {
    .informationProjectContainer {
        flex-direction: column;

        .dataProject {
            width: 100%;
            margin: 0 0 2rem 0;
        }

        .imgProject {
            width: 100%;
        }
    }

    .pDataProject {
        font-size: 1rem;

        span {
            padding: .2rem;
        }
    }
}

@media screen and (max-width: 600px) {

    p {
        font-size: 1rem;
    }

    .informationProjectContainer {
        .dataProject {
            h3 {
                font-size: 1.5rem;
            }
        }
    }

    .pDataProject {
        font-size: .8rem;
    }
}