.notProject{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectDetailContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.divProjectDetail{
    margin: 3rem 5rem;
    max-width: 1300px;
    width: 100%;
}

.imageProjectDetail{
    margin-top: 3rem;
    width: 100%;
    border-radius: 20px;
}

.link{
    text-decoration: none;
}

.volver{
    color: var(--rojo-claro);
    margin-bottom: 1rem;
    font-size: 1.2rem;
    .volverFlecha{
        color: var(--rojo-claro);
        font-weight: 900;
    }
}

.titleProjectDetail{
    margin-bottom: 3rem;
}

.pDataProject{
    margin-bottom: 1rem;
    span{
        padding: .3rem;
        background-color: var(--rojo-oscuro);
        color: var(--rojo-claro);
        margin-right: .5rem;
        border-radius: 5px;
    }
}

.subtitle{
    margin-top: 3rem;
    margin-bottom: 1rem;
}

p{
    font-size: 1.2rem;
}

.demoResponsiveSection{
    margin: 8rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .responsiveText{
        margin-right: 1rem;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        p{
            font-size: 10rem;
            font-weight: 800;
        }
    }
    .imgResponsive{
        width: 50%;
        display: flex;
        justify-content: start;
        align-items: center;
        margin-left: 1rem;
        .imgDemoResponsive{
            height: 643px;
            border-radius: 50px;
        }
    }
}

.informationProjectContainer{
    width: 100%;
    display: flex;
    margin: 3rem 0;
    .dataProject{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 2rem;
        width: 50%;
        h3{
            font-size: 2rem;
            margin-bottom: 1rem;
        }
    }
    .imgProject{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.imgDemo{
    width: 100%;
    border-radius: 20px;
}

.invertContent{
    flex-direction: row-reverse;
}

@media screen and (max-width: 1020px){
    .informationProjectContainer{
        flex-direction: column;
        .dataProject{
            width: 100%;
            margin: 0 0 2rem 0;
        }
        .imgProject{
            width: 100%;
        }
    }
    .demoResponsiveSection{
        .responsiveText{
            p{
                font-size: 7rem;
            }
        }
        .imgResponsive{
            .imgDemoResponsive{
                height: 500px;
                border-radius: 40px;
            }
        }
    }   
}

@media screen and (max-width: 780px){

    .divProjectDetail{
        margin: 3rem 2rem;
    }

    .demoResponsiveSection{
        .responsiveText{
            p{
                font-size: 5rem;
            }
        }
        .imgResponsive{
            .imgDemoResponsive{
                height: 400px;
                border-radius: 30px;
            }   
        }
    }
}

@media screen and (max-width: 600px){

    p{
        font-size: 1rem;
    }

    .informationProjectContainer{
        .dataProject{
            h3{
                font-size: 1.5rem;
            }
        }
    }

    .demoResponsiveSection{
        .responsiveText{
            p{
                font-size: 4rem;
            }
        }
        .imgResponsive{
            .imgDemoResponsive{
                height: 300px;
                border-radius: 25px;
            }
        }
    }
}