.subtitleProject {
    color: var(--rojo-claro);
}

.divParrafos {
    margin: 1rem 0;
}

.divCredenciales {
    h2 {
        margin-bottom: 1rem;
    }

    ul {
        margin-left: 1rem;
    }

    li {
        font-size: 1.2rem;
    }

    span {
        font-weight: bold;
    }
}

@media screen and (max-width: 1150px) {
    .warningTitle {
        font-size: 1.5rem;
    }

    .titleCredentials {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 610px) {
    .warningTitle {
        font-size: 1.2rem;
    }

    .titleCredentials {
        font-size: 1rem;
    }
}