.subtitleProject {
    color: var(--rojo-claro);
}

.divParrafos {
    margin: 1rem 0;
}

.divCredenciales {
    h2 {
        margin-bottom: 1rem;
    }

    ul {
        margin-left: 1rem;
    }

    li {
        font-size: 1.2rem;
    }

    span {
        font-weight: bold;
    }
}